<style>
input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}

.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
}

img.avatar {
	width: 40%;
	border-radius: 50%;
}

.container {
	padding: 16px;
}

span.psw {
	float: right;
	padding-top: 16px;
}
</style>


<div ng-controller="UserController as ctrl">

	<div ng-show='ctrl.user.errorMessage'>
		<div class="alert alert-danger fade in">
			{{ctrl.user.errorMessage}}</div>

	</div>
	

	<div class="panel panel-default" ng-controller="UserController as ctrl">
		<div class="panel heading">
			<span class="lead">SignIn Form</span>
		</div>
		<div class="formcontainer">
			<form ng-submit="ctrl.login()" name="myForm" class="form-horizontal">


				<div class="container">
					<label><b>Email-Id</b></label> <input type="text"
						placeholder="Enter Emailid" name="emailid"
						ng-model="ctrl.user.emailid" required> <label><b>Password</b></label>
					<input type="password" placeholder="Enter Password" name="password"
						ng-model="ctrl.user.password" required>

					<button type="submit">Login</button>

				</div>


			</form>

		</div>
	</div>
</div>










